<div class="player-outline">
  <h2>Fantasy Football Team Member</h2>

  <select (change)="onChange($event.target.value)">
    <option value="allRoles" selected="selected">All Roles</option>
    <option value="Member">Member</option>
    <option value="Commissioner">Commissioner</option>
  </select>


  <div  *ngFor="let member of members | async | rolePipe:filterByRole">
    <div >
      <h3 (click)="goToDetailPage(member)"><em>{{member.firstName}} {{member.lastName}}</em></h3>
      <img src="{{member.image}}" class="portrait">
      <div *ngIf="currentRoute === '/admin'">
        {{member.jobTitle}}
        <app-edit-member [selectedMember]="member"></app-edit-member>
        <hr>
      </div>
    </div>
  </div>
</div>
