<h2>Marketplace</h2>

<div *ngFor="let member of members | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(member)"><em>{{member.firstName}} {{member.lastName}}</em></h3>
  </div>
</div>



<!--
<div *ngFor="let album of albums | async"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(album)"><em>{{album.title}}</em> by {{album.artist}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{album.description}}
      <hr>
      <app-edit-album [selectedAlbum]="album"></app-edit-album>
    </div>
  </div>
</div> -->
