<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Fantasy Football League</a>
    </div>
    <ul class="nav navbar-nav ">
      <li><a routerLink="about">About</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink="list-member">Members</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a routerLink="announcements">Announcements</a></li>
    </ul>
    <ul *ngIf="(user | async) != null" class="nav navbar-nav navbar-right">
      <li>  <a routerLink="admin">Admin</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <label>Email:</label>
    <input #email>

    <label>Password:</label>
    <input type="password" #password>

    <button class="btn btn-info btn-sm" *ngIf="(user | async)?.email == null" (click)="login(email.value, password.value); email.value=''; password.value=''">Login</button>
    <button class="btn btn-warning btn-sm" *ngIf="(user | async)?.email != null"(click)="logout()">Logout</button>

    <div *ngIf="(user | async) == null"> Please log in. </div>
    <div *ngIf="(user | async) != null"> Welcome in {{ (user | async)?.email }}!  You have admin access and can edit and delete members.</div>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <footer class="footer" *ngIf="(user | async) != null">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer> -->
